# Ignore everything in this directory 
Data/
old_data/
python_env/
.Rhistory
3_cross_validation/scripts/__pycache__/

#git add .
#git add file/folder
#git commit -m "message"
#git push origin main

#git reset --soft HEAD~1 (removes last local commit)
# use "git restore --staged <file>..." to unstage

# xtable
# annotate
# annotate
# genefilter
# sva

# sudo du -hs *
#  df -h

# compressing your repo by running "git garbage collection"
# time git gcll
